html,
body {
    min-height: 100vh;
    overflow: auto;
}

.up-text-center {
    text-align: center;
}

.up-height-screen {
    height: 100vh;
}

.up-width-full {
    width: 100%;
}

.up-truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.up-cart-button {
    position: fixed;
    right: 16px;
    bottom: 16px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(4px);

    transition: .3s ease-in-out;
    transition-property: transform, opacity, visibility;
}

.up-cart-button--active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
